body {
    margin: 0;
    font-family: 'Arial, sans-serif';
    background-color: #87faef;
}

nav {
    background-color: #ff69b4;
    padding: 1em;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.container {
    text-align: center;
    margin-top: 50px;
}

.video-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .video-player {
    border: none;
    width: 640px;  /* Set the width you want for the video */
    height: 480px; /* Set the height you want for the video */
  }

h1 {
    justify-content: center;
    color: #ff1493;
    font-size: 1.45em;
    margin-bottom: 0.5em;
    display: flex;
}

p {
    font-size: 1.0em;
    color: #333;
}

.cake {
    width: 300px;
    height: auto;
    margin-top: 20px;
}

video {
    width: 80%;
    height: auto;
    margin-top: 20px;
}
